@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <a href="/Copa/CadastrarTime" class="btn btn-primary">Cadastrar Times</a>

    </div>
    <br />
    <div class="row">
        <a href="/Copa/GerenciarTorneio" class="btn btn-primary">Gerenciar Torneio</a>
    </div>
</div>